*{
   font-family: Arial, sans-serif;
    box-sizing: border-box;
}
html {
    background: #f1f1f1;
    border: none;


}
body {
    /*display: inline-block;
    box-sizing: border-box;
    text-align: center;*/


    color: #c1c1c1;
}
[name=search] {
    height: 100px;
    border: none;
    color: #c1c1c1;
    background: #f1f1f1;
    font-size: 80px;
    font-weight: bold;
    width: 80%;
    text-align: left;
}
[name=search]:hover {
    color: #ec5a62;
}
[type="button"] {
    background: #f1f1f1 url("../favicon/favicon.png") no-repeat;
    width: 10%;
    text-align: center;
}
.oll, form {
    display: inline-block;
    margin: 0 auto;
    min-width: 90%;
    text-align: center;
    margin-top: 30px;
}

.people img {
    border-radius: 50%;
    margin: 5px;
    width: 13%;
}
.popular img, .resent img {
    margin: 5px;
    width: 13%;
}
h3 {
    text-align: left;
}
.popular {
    margin: 0 10px;
}
div {
    display: inline-block;
    box-sizing: border-box;
    width: 30%;
}
ul {
    padding: 0;
}
li {
    display: inline-block;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    background: #EBEBED;
    margin: 3px;
    text-align: left;

}
li:hover {
    color: #ec5a62;
    background: #E4E4E6;
}
span {
    display: inline-block;
    line-height: 100%;
    padding-top: 7%;
    vertical-align: top;
}